body {
    font-size: 150%;
    background-color: black;
    text-align: center;
    color: rgb(56, 165, 255);
}

#squiz {
    box-sizing: content-box;
    background-color: wheat;
    text-align: center;
    width: max-content;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    color: blue;
}

#glbut {
    box-sizing: content-box;
    background-color: cornflowerblue;
    width: max-content;
    margin: auto;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 20px;
    text-align: center;
}

#glbut:hover {
    background-color: darkcyan;
}

a {
    text-decoration: none;
}