html {
    scroll-behavior: smooth;
}

/*上方列*/
#navbartop {
    list-style-type: none;
    background-color: black;
    text-align: right;
    font-size: 150%;
    border-radius: 0;
    border: 0px;
    margin: 0;
    padding: 0;
}

#navbarlogo {
    background-image: url("kmu_logo.png");
    background-size: 150px;
    position: absolute;
    top: 10px;
    left: 10px;
    width: 150px;
    height: 150px;
    margin-top: 10px;
    margin-left: 10px;
    z-index: 1;
}

.navbarsel {
    box-sizing: border-box;
    transition-duration: 0.2s;
    border: 2px;
    color: white;
    text-align: center;
    text-decoration: none;
    display: none; 
    padding: 14px 16px;
    font-size: large;
}

#navbarhid {
    display: inline-block;
}

.navbar {
    box-sizing: border-box;
    transition-duration: 0.2s;
    border: 2px;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block; 
    padding: 14px 16px;
}

.navbar:hover {
    background-color: aqua;
}

.navbarsel:hover {
    background-color: aqua;
}

/*網站標題*/
#title {
    box-sizing: border-box;
    background-color: rgb(0, 255, 149);
    width: auto ;
}

/*抬頭投影片，地圖*/
.titlepic {
    display: none;
}

.slideshow-container {
    width: 85%;
    height: 750px;
    overflow: hidden;
    position: relative;
    margin: auto;
}

.dot {
    cursor: pointer;
    height: 12px;
    width: 12px;
    margin: 0 2px;
    background-color:rgba(27, 27, 114, 0.555);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.5s ease;
}

.active, .dot:hover {
    background-color: rgba(0, 0, 255, 0.575);
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 36px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev {
    left: 0;
    border-radius: 3px 0 0 3px;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1s;
    animation-name: fade;
    animation-duration: 1s;
}
  
  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

/*網頁文字段落*/
.parag1 {
    box-sizing: content-box;
    background-color: cornflowerblue;
    color: white;
    width: fit-content;
    max-width: 80%;
    margin: auto;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 20px;
    text-align: center;
    font-size: 150%;
}

.parag2 {
    box-sizing: content-box;
    background-color: black;
    color: white;
    width: fit-content;
    max-width: 80%;
    margin: auto;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 20px;
    text-align: center;
    display:inline
}
.parag3 {
    box-sizing: content-box;
    background-color: blue;
    color: white;
    width: fit-content;
    max-width: 80%;
    margin: auto;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 20px;
    text-align: center;
}

/* Create three equal columns that floats next to each other */
.column {
    float: left;
    width: 33.33%;
    padding: 15px;
    box-sizing: border-box;
    background-color: white;
    border: 5px solid black;
    color: black;
}

.columnN {
    width: 80%;
    padding: 15px;
    box-sizing: border-box;
    background-color: white;
    border: 5px solid black;
    color: black;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
}

.columnPE {
    width: 85%;
    height: fit-content;
    padding: 15px;
    box-sizing: border-box;
    background-color: white;
    border: 5px solid black;
    color: black;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
}

#credit {
    font-size: 80%;
    text-align: right;
    padding-right: 30px;
}

.button {
    margin-top: 10px;
    border-radius: 20px;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
    background-color:deepskyblue ;
    border: 2px solid black;
    text-align: center;
    display: inline-block;
    text-decoration: none;
}

.button:hover {
    background-color: aqua;
    text-decoration: none;
}

/*網頁背景*/
body {
    font-size: 150%;
    background-color: lightblue;
    text-align: center;
    color: black;
}

footer {
    background-color: black;
    color: white;
}

/*反應設計*/
@media screen and (max-width:1200px) {
    .column {
      width: 100%;
    }

    .columnN {
        width: 100%;
    }

    #navbarhid {
        display: inline-block; 
    }

    .navbar {
        font-size: large;
        text-align: right;
    }

    #navbarlogo {
        background-size: 100px;
        width: 100px;
        height: 100px;
    }

    .slideshow-container {
        height: 600px;
    }


}

@media screen and (max-width:800px) {
    .column {
      width: 100%;
    }

    .columnN {
        width: 100%;
    }

    #navbarhid {
        display: none; 
    }

    .navbar {
        font-size: large;
        text-align: right;
        display: block;
    }

    .navbarsel {
        display: inline-block;
    }

    #navbarlogo {
        background-size: 100px;
        width: 100px;
        height: 100px;
    }

    .slideshow-container {

        overflow: hidden;
    }

    .slideshow-container {
        height: 400px;
    }

}